/*Header (Banner)*/
.banner{
    position:relative;
    text-align:right;
}
.bannerwords{
    position:absolute;
    bottom: 216px;
    left: 600px;
}
.mainheading{
    height:228px;
    width: 525px;
    font-size: 65px;
    font-family: 700;
}
.mainpara{
    height:80px;
    width:500px;
}
/*Banner Button*/
.contactus {
    color: #FFFFFF;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    font-weight: 600;
    font-size: 20px;
    font-family: sans-serif;
    border: 0;
    padding: 20px 25px;
    position:absolute;
    top: 550px;
    right:150px;
}
/*Failures*/
.intro{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 130px;
}
.headingfail{
    font-weight: 700;
    font: size 40px;
}
.parafail{
    width: 416px;
    height: 104px;
    font-size: 16px;
    color:#444343;
    margin-bottom:10px;
}
/*New Plans*/
.mynewplans{
    display:flex;
    justify-content: space-evenly;
}
.headingplans{
    font-weight:700;
    font-size: 40px;
    text-align: center;
    margin-top: 130px;
}

.heading1{
    font-weight:700;
    font-size: 30px;
    text-align: center;
    }

.heading2{
    font-weight:500;
    font-size: 25px;
    text-align: center;

/*Second Banner*/
}
.blending-backgrounds{
    width: 1140px;
    height: 300px;
    background-image: url(../images/watch.png), url(../images/gradient2.png);
    background-blend-mode:lighten;
    margin-top: 130px;
    margin-left: 15%;
    position:relative;
    
}
.positivity{
    width: 459px;
    height:94px;
    font-weight: 700;
    font-size: 40px;
    color:#FFFFFF;
    position:absolute;
    top:30px;
    left:50px;

}
/*Second Banner Button*/
.callnow {
    color: #F15B22;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    font-family: sans-serif;
    border: 0;
    padding: 20px 25px;
    position: relative;
    top:200px;
    left:50px;

/*Future part in the footer*/
}
.footer{
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    color:#FFFFFF;
    background-color: black;
}
.headingfuture{
    font-weight: 700;
    font-size: 45px;
}
.footerpara{
    width: 416px;
    height: 104px;
    font-weight: 400;
    font-size: 16px;
    color:#FFFFFF;
    margin-bottom: 50px;
}
#Email{
    color:#FFFFFF;
    background-color: black;
    font-size: 20px;
    border-radius: 5px;
    padding: 20px;
}
/*Subscribe Button*/
.subscribe
{
    color: #F15B22;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    font-family: sans-serif;
    border: 0;
    padding: 20px 25px;
     
}
/*Extra Work*/
ul{
    list-style-type: none;
}
.list{
    margin-top:30px;
}
